* {
  font-family: 'Sintony';
}

body {
  background-color: #FFFFFF;
}

li {
  padding: 8px;
}

.ractangle {
  background-color: #7D8587;
  width: 100vw;
  height: 750px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  padding-top: 22px;
}

.menubar {
  margin-top: 10px;
  height: 46px;
  display: flex;
  align-items: center;
}

.logo {
  font-size: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.list {
  list-style-type: none;
  color: #FFFFFF;
  display: flex;
  font-size: 14px;
}

.cart {
  padding-bottom: 9px;
}

.book {
  width: 193px;
  height: 41px;
  background: #FEA100 0% 0% no-repeat padding-box;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  outline: #FEA100 solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 34px;
}

.text-book {
  width: 136px;
  height: 14px;
  color: #FFFFFF;
  display: flex;
  font-size: 14px;
}

.img-book {
  width: 21px;
  height: 17px;
  margin-right: 13px;
}

/*  ^^ MENUBAR ^^ */
.main {
  color: #FFFFFF;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.img-main {
  margin-top: 115px;
}

.text-main {
  margin-top: 100px;
}

.top-text-main {
  font-size: 62px;
}

.lower-text-main {
  font-size: 42px;
  margin-bottom: 91px;
}

.text-phone {
  margin-top: 19px;
  color: #FEA100;
  font-size: 14px;
}

.number-phone {
  font-size: 36px;
}

/* \/\/\/  FOODMENU  \/\/\/ */
.restaurant {
  padding-top: 100px;
  padding-bottom: 84px;
  display: flex;
  justify-content: center;
}

.restaurant .foodmenu {
  padding-right: 70px;
  width: 20%;
}

.restaurant .foodmenu .button-foodmenu {
  margin-left: 5px;
  color: #FFFFFF;
  width: 200px;
  height: 45px;
  background: #FEA100 0% 0% no-repeat padding-box;
  border-radius: 4px;
  outline: #FEA100 solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.restaurant ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.restaurant .title-foodmenu {
  font-size: 35px;
  margin-left: 5px;
}

.restaurant .list-foodmenu li {
  display: flex;
  padding-top: 23px;
  margin-bottom: 23px;
  border-top: 1px solid #a9aeaf;
}

.restaurant .list-foodmenu li:first-child {
  border-top: none;
}

.restaurant .list-foodmenu .foodname {
  font-size: 16px;
  font-weight: bold;
}

.restaurant .list-foodmenu .price {
  font-weight: bold;
  font-size: 26px;
  text-align: right;
  margin-left: auto;
}

.restaurant .list-foodmenu .description {
  color: #5C6369;
  font-size: 14px;
}

.restaurant .list-foodmenu .firstline {
  display: flex;
  align-items: flex-end;
}

.restaurant .todayspecial {
  width: 20%;
  position: relative;
}

.restaurant .todayspecial .title-todayspecial {
  font-size: 35px;
  padding-bottom: 10px;
}

.restaurant .todayspecial .first-offer {
  -webkit-box-shadow: 8px 8px 24px 0px #42445a;
  -moz-box-shadow: 8px 8px 24px 0px #42445a;
  box-shadow: 8px 8px 24px 0px #42445a;
  position: absolute;
}

.restaurant .todayspecial .first-offer .img-first-offer {
  width: 320px;
  height: 210px;
  background-color: #7D8587;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.restaurant .todayspecial .first-offer .text-first-offer {
  padding: 20px;
  font-weight: bold;
  font-size: 22px;
  background-color: #FFFFFF;
}

.restaurant .todayspecial .first-offer .text-first-offer .price {
  color: #FEA100;
}

.restaurant .todayspecial .second-offer {
  z-index: 9;
  margin-left: 280px;
  margin-top: 15px;
}

.restaurant .todayspecial .second-offer .img-second-offer {
  width: 320px;
  height: 172px;
  background-color: #7D8587;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.restaurant .todayspecial .second-offer .text-second-offer {
  padding: 20px;
  font-weight: bold;
  font-size: 22px;
}

.restaurant .todayspecial .second-offer .text-second-offer .price {
  color: #FEA100;
}

/* \/\/\/  RESERVATIONS  \/\/\/ */
.reservation {
  background-color: #565F61;
  width: 100vw;
  height: 518px;
  padding-top: 98px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.reservation .translate {
  transform: translateY(-250px);
  background-color: #7D8587;
  width: 293px;
  height: 293px;
}

.reservation .left {
  margin-right: 25px;
}

.reservation .right {
  transform: translateY(220px);
}

.reservation td {
  padding-right: 32px;
}

.reservation .container {
  width: fit-content;
  margin: 0 auto;
}

.reservation .title-reservation {
  font-size: 35px;
  text-align: center;
  display: block;
  color: #FFFFFF;
  padding-bottom: 25px;
}

.reservation input[type=text] {
  width: 440px;
  padding: 20px 20px;
  margin: 3px 0;
  box-sizing: border-box;
}

.reservation .lower {
  margin-top: 40px;
  align-items: center;
  display: flex;
}

.reservation .button-reservation {
  color: #FFFFFF;
  width: 200px;
  height: 45px;
  background: #FEA100 0% 0% no-repeat padding-box;
  border-radius: 4px;
  outline: #FEA100 solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 60px;
  margin-left: 8px;
}

.reservation .text-reservation {
  justify-content: center;
  font-size: 16px;
  color: #FFFFFF;
  margin-right: 10px;
  margin-left: 8px;
}

.reservation .text-reservation .pink {
  color: rgba(247, 85, 180, 0.966);
}

.reservation .number-reservation {
  color: #FFFFFF;
  font-size: 25px;
  padding-left: 20px;
  border-left: 1px solid #ad4c7d;
}

/* \/\/\/  HAPPY CLIENTS  \/\/\/ */
.opinions {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.clients > h1 {
  padding-top: 100px;
  font-size: 35px;
  text-align: center;
  width: 100vw;
}

.img-clients {
  width: 269px;
  height: 295px;
  background-color: #7D8587;
}

.text-clients {
  padding-left: 65px;
}

.opinion {
  width: 650px;
}

.opinion > h2 {
  font-size: 22px;
}

.opinion > p {
  font-size: 15px;
}

.creator {
  margin-top: 70px;
  border-top: 1px solid #a9aeaf;
  align-items: center;
  align-self: start;
  height: 70px;
  width: 220px;
  display: flex;
}

/* \/\/\/  GALLERY  \/\/\/ */
.gallery {
  background-color: #EDF1F3;
}

.text-gallery > h1 {
  padding-top: 97.5px;
  padding-bottom: 26.5px;
  text-align: center;
  font-size: 35px;
  width: 100vw;
}

.images {
  display: flex;
  color: #FFFFFF;
  font-size: 15px;
  justify-content: center;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.small {
  height: 340px;
  width: 187px;
  background-color: #7D8587;
}

.medium {
  height: 340px;
  width: 370px;
  background-color: #7D8587;
}

.big {
  height: 340px;
  width: 471px;
  background-color: #6E7678;
}

.center {
  background-color: #7D8587;
}

.dots {
  padding-top: 36px;
  text-align: center;
  padding-bottom: 100px;
}

.circle {
  display: inline-block;
  /* add this */
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: #363D43;
}

.circle:hover {
  border-color: #FEA100;
}

/* OPENING HOURS */
.hours {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  margin: 0 auto;
  align-items: center;
}

.translate {
  background-color: #7D8587;
  width: 210px;
  height: 210px;
}

.title-hours {
  font-size: 35px;
}

.montofri {
  align-items: center;
  justify-content: center;
  padding-right: 60px;
}

.text-hours {
  font-size: 20px;
  color: #373844;
}

.hour {
  font-size: 30px;
  color: #FEA100;
}

.weekend {
  align-items: center;
  justify-content: center;
}

.days {
  display: flex;
}

.third {
  transform: translateY(50px);
}

/* \/\/\/  FOOTER  \/\/\/ */
.color-footer {
  background-color: #373844;
}

.footer {
  height: 510px;
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
  width: 50vw;
  margin: 0 auto;
}

.footer .nav .title-nav {
  padding-left: 8px;
  color: #FFFFFF;
  font-size: 24px;
  padding-bottom: 32px;
}

.footer .nav ul {
  color: #ADB2B7;
  font-size: 14px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer .news .title-news {
  font-size: 24px;
  color: #FFFFFF;
  padding-bottom: 32px;
}

.footer .news .text-news {
  font-size: 14px;
  color: #ADB2B7;
  padding-bottom: 20px;
}

.footer .news .buttons-news {
  display: flex;
}

.footer .news .buttons-news .emailadd input[type=text] {
  width: 300px;
  height: 45px;
  background-color: #373844;
  border-radius: 2px;
  outline: #52535E solid;
  margin-right: 8px;
}

.footer .news .buttons-news .sub {
  color: #FFFFFF;
  width: 160px;
  height: 50px;
  background: #FEA100 0% 0% no-repeat padding-box;
  border-radius: 4px;
  outline: #FEA100 solid;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 60px;
  margin-left: 8px;
}

.footer .apps .title-apps {
  font-size: 24px;
  color: #FFFFFF;
  padding-bottom: 32px;
}

.footer .apps .gray-button {
  display: flex;
  background-color: #52535E;
  width: 220px;
  height: 60px;
  margin-bottom: 2px;
  align-items: center;
}

.footer .apps .gray-button .icon-button {
  margin-left: 20px;
  margin-right: 20px;
}

.footer .apps .gray-button .higher-text-icon {
  font-size: 11px;
  color: #FFFFFF;
}

.footer .apps .gray-button .lower-text-icon {
  font-size: 18px;
  color: #FFFFFF;
}
